:root {
    --background-color: #393748;
    --primary-color: #D9D9D9; /* all text/dividers */
    --secondary-color: #676481; /* goes under elements i think*/
    --tertiary-color: #999999; /* accents and nav */

}

.titleImgContainer {
    width: 350px;
    height: 250px;
    object-fit: cover;
}

#navContainer {
    /* put nav bar style here */
}